cliente-x/Agente Mestre - Whatsapp.json
{
  "updatedAt": "2026-02-24T17:57:24.702Z",
  "createdAt": "2026-02-04T13:51:42.691Z",
  "id": "rAi67I74I50QWl6B",
  "name": "Agente Mestre - Whatsapp",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "83fdb457-74ef-4480-a090-ac84a418dae2",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4752,
        960
      ]
    },
    {
      "parameters": {
        "content": "# Splitar Mensagens e Enviar Áudio ou Texto",
        "height": 416,
        "width": 1212,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4112,
        848
      ],
      "typeVersion": 1,
      "id": "b68b5060-e479-423c-8aad-aefa2b1824c5",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3584,
        768
      ],
      "id": "1ab56a0c-3897-4684-b012-9dbd2824a8e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "defac08a-6745-422b-bb05-90da9f47d91b",
              "leftValue": "={{ $('Busca Telefone').last().json.values() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4336,
        576
      ],
      "id": "857c494a-79db-4ec8-8f99-e26f5de3f129",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "# Histórico Supabase\n",
        "height": 380,
        "width": 1212,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4112,
        464
      ],
      "typeVersion": 1,
      "id": "bc9dfde4-c6db-4c19-997c-3ebaf69b9b52",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4192,
        576
      ],
      "id": "569c961a-8567-4e9c-afe3-ed9b9a579b8c",
      "name": "Busca Telefone",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Info2').item.json.telefone }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4512,
        496
      ],
      "id": "8f17db5e-4fd9-4605-a61f-18d4080f050a",
      "name": "Adiciona CHAT supabase"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4512,
        672
      ],
      "id": "daaceb1a-b0be-4cd2-badb-2381a4da499f",
      "name": "Atualiza CHAT Supabase",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Info2').item.json.telefone }}"
            },
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('Supervisor').first().json.output }}"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('Info2').item.json.mensagem }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Info2').item.json.tipo }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Info2').item.json.NomeWhatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4688,
        576
      ],
      "id": "4cdf4c7c-fdbc-467a-b32a-e670ad45f102",
      "name": "Cria Histórico Supabase"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "7ffee8bf-c702-4a41-b243-e2b5efceb103",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4544,
        960
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.phone }}"
      },
      "id": "3b091207-1ef4-460c-a9cb-b11697d36f1f",
      "name": "Delete Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4864,
        576
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "content": "# Enfileirar Mensagens\n",
        "height": 796,
        "width": 636,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2896,
        464
      ],
      "typeVersion": 1,
      "id": "fd46ab27-2a1c-4361-a90f-1603449e6d17",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "# Roteamento de Mensagens",
        "height": 796,
        "width": 1184,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        464
      ],
      "typeVersion": 1,
      "id": "90caa4c9-96b8-4f78-9b2e-2d54a489e5d2",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# Sistema de atendimento humano",
        "height": 796,
        "width": 1156,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        464
      ],
      "typeVersion": 1,
      "id": "3a2a1224-23c6-44f2-870a-3029a1c14d66",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c5a71e78-3c76-4fa9-b067-07d1ab5e25f6",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        528
      ],
      "id": "2987b6b8-6b73-4bea-b27a-a9ffdb87236d",
      "name": "Pausar IA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "=pause",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "7b9abb2d-ddcc-4dd2-b6be-e715f0e362f6",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        768,
        880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "reativada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        704
      ],
      "id": "c47260eb-90e3-4d36-b134-9cb25a5ffa53",
      "name": "Reativar IA"
    },
    {
      "parameters": {
        "content": "# Criação Banco de Dados",
        "height": 376,
        "width": 1400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        464
      ],
      "typeVersion": 1,
      "id": "9d774a24-8a4b-4260-a486-af9fd580eb2a",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d6f888c3-6278-4aec-99a6-7a971f14abe6",
      "name": "OpenAI4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2592,
        704
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        832
      ],
      "id": "5bd09e03-e10e-4da6-8116-f9b9328f463f",
      "name": "Buscar Cliente",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $('Buscar Cliente').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        992
      ],
      "id": "2071cc0b-b118-4ebb-94f4-5bf3b80ddde7",
      "name": "Cliente Existe?"
    },
    {
      "parameters": {
        "tableId": "dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Info2').item.json.NomeWhatsapp }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Info2').item.json.telefone }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        1008
      ],
      "id": "2534920f-0021-4966-9deb-599db037e437",
      "name": "Criar Cliente"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info2').item.json.tipo }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outgoing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Info2').item.json.tipo }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "16981686-7657-462e-9645-edd6ea309cc0",
      "name": "ROTA Entrando ou Saindo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        592,
        688
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "b7ec5b46-45d6-407e-8327-6a16f75b278d",
      "name": "Converter Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2432,
        704
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=data",
        "options": {
          "fileName": "data.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "6c1a703f-0c61-4f38-9e29-83ffb4e9aa5f",
      "name": "Converter Foto",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2432,
        880
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Info2').item.json.mensagem_audio_ou_imagem ? \"null\" : $('Info2').item.json.mensage_de_texto }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info2').item.json.mensagem_audio_ou_imagem }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "88b5bc5f-ef3c-486c-abe1-96cbb26c75ed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Info2').item.json.mensagem_audio_ou_imagem }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "808bfbc2-1b4f-48c7-a212-4b872bfdb537",
                    "leftValue": "={{ $('Info2').item.json.mensagem_audio_ou_imagem }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "e283fdc8-0abe-4b91-b4f7-c4ede20fa955",
      "name": "ROTA Mensagens",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1760,
        832
      ]
    },
    {
      "parameters": {
        "description": "Use a ferramenta para pensar sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas anexará o pensamento ao registro. Use-a quando for necessário raciocínio complexo ou alguma memória cache.\n\nRespostas sempre em português."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3872,
        768
      ],
      "id": "4ce03945-b135-4bad-a1db-2baaa1c271a3",
      "name": "thinking"
    },
    {
      "parameters": {
        "content": "# Agente Principal\n",
        "height": 780,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        464
      ],
      "typeVersion": 1,
      "id": "c2a434b0-c0d7-47e3-a481-391a4d90350b",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info2').item.json.telefone }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3728,
        768
      ],
      "id": "87c00e44-c6c8-4a4c-8edf-65fb3620c188",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.telefone }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Info2').item.json.mensagem.replace(/\\r?\\n|\\r/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        528
      ],
      "id": "45ca354f-8b24-4085-b097-fb33a61f0c3e",
      "name": "Salvar Historico1",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3152,
        1088
      ],
      "id": "f49f4aa0-0020-478a-8d95-aaecfe2d2ae9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "d2880919-8f11-42db-85cf-03b2fafb91d3",
      "name": "Intervalo entre Mensagens",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        704
      ],
      "webhookId": "73f250e0-71be-43bb-bfc8-2f4ff90a1996"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Info2').item.json.telefone }}",
        "messageData": "={{ $('Info2').item.json.mensagem }}",
        "tail": true
      },
      "id": "d0198779-332e-46c8-87f5-61ba712ff4c2",
      "name": "Texto Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        544
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Info2').item.json.telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "74898abf-d4eb-422f-a589-d1e06c9d6428",
      "name": "Audio Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2752,
        704
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Info2').item.json.telefone }}",
        "messageData": "={{ $json.content || $('Dados').item.json.message.content || $json.text }}",
        "tail": true
      },
      "id": "3f65d79f-c26e-4fcb-b242-7ecc93a38240",
      "name": "imagem Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2752,
        880
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Info2').item.json.telefone }}",
        "options": {}
      },
      "id": "c288c0ad-d60d-46e6-9bf2-7e39837e6b48",
      "name": "Buscas Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        864
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "239cab79-8fb1-45ca-9a04-11006892d52e",
              "name": "mensagem_completa",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        560
      ],
      "id": "7e6f133e-f74c-4130-aeb5-278911a8a708",
      "name": "Mensagem Completa1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Info2').item.json.telefone }}"
      },
      "id": "65e9de18-5d6f-4405-98bb-6cdd9ec03158",
      "name": "Deletar Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3360,
        560
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1280,
        608
      ],
      "id": "901d9458-5363-4e6a-9fa6-0e6bddee5218",
      "name": "chat_messages",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -896,
        608
      ],
      "id": "d17976d2-18b8-48a4-bbf7-64606f232c09",
      "name": "dados_cliente",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1088,
        608
      ],
      "id": "02a8f502-39ab-40d8-8299-d8a93085f133",
      "name": "vetor",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -512,
        608
      ],
      "id": "f1920ca9-f931-4668-a1d6-24633531c083",
      "name": "match_documents",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -704,
        608
      ],
      "id": "fa72e707-05af-4988-af12-5be2fdc968b9",
      "name": "documents",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "content": "## Criação\n",
        "height": 228,
        "width": 1280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        560
      ],
      "typeVersion": 1,
      "id": "ae70315e-b7d2-479b-9cf4-e41cd3a7dd94",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Limpeza\n",
        "height": 244,
        "width": 1280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        944
      ],
      "typeVersion": 1,
      "id": "d7d8c6b6-ecc8-4ad1-8a9c-64046b9d3643",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1008
      ],
      "id": "b2b5de99-9f9f-4158-bd66-8cf6ea36534b",
      "name": "Deletar Histórico",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chat_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -496,
        1008
      ],
      "id": "b7ad2323-eeae-460a-b9f2-129b81081bf4",
      "name": "Deletar conteúdo Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from dados_cliente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -880,
        1008
      ],
      "id": "68bfd069-70d0-4e55-a745-e9904b8e7826",
      "name": "Deletar conteúdo Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chats",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1088,
        1008
      ],
      "id": "c72e7fc1-7099-497e-9ef5-318b1646c914",
      "name": "Deletar conteúdo Chats",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from documents",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -688,
        1008
      ],
      "id": "0d8acdc3-3151-4d50-9792-60d608918c9b",
      "name": "Deletar conteúdo Documentos",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $('Mensagem').item.json.mensagem }}",
              "rightValue": "={{ $json.propertyName.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ddc14857-e96f-4617-b7b4-0380c6e48fcb",
      "name": "Compara Memoria",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        1024
      ]
    },
    {
      "parameters": {
        "content": "# Agentes Especialistas\n\n",
        "height": 316,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        944
      ],
      "typeVersion": 1,
      "id": "d3d862ef-2039-4be4-a52f-e1be3456f6d4",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dfe049ff-06c9-4726-ab59-c54cd66f114c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "239cab79-8fb1-45ca-9a04-11006892d52e",
              "name": "mensagem",
              "value": "={{ $json.content || $json.message?.content || $json.text || $json.mensage_de_texto || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        560
      ],
      "id": "ba11718c-5f62-463b-b505-504ad0411cf3",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem Completa1').item.json.mensagem_completa }}",
        "options": {
          "systemMessage": "=Metadados:\n\nMotivo do contato do cliente: {{ $('Info2').item.json.id_conversa }}\n\n## 1. **Identidade e Objetivo**\n```\nVocê é o Agente Orquestrador da Clínica Bela Saúde, especializado em atendimento ao cliente e gestão de informações médicas.\nSeu objetivo principal é fornecer informações precisas e atualizadas sobre os serviços, profissionais, horários e procedimentos da clínica, garantindo uma experiência de atendimento excepcional e humanizada.\n```\n\n## 2. **Contexto e Conhecimento**\n```\nVocê trabalha na Clínica Bela Saúde, uma instituição de saúde comprometida com o bem-estar e a qualidade de vida dos pacientes.\nVocê tem acesso à ferramenta `rag_agent` que contém informações atualizadas sobre:\n- Serviços e especialidades médicas oferecidas\n- Agenda e disponibilidade de profissionais\n- Valores de consultas e procedimentos\n- Convênios aceitos\n- Protocolos e procedimentos internos\n- Localização, horários de funcionamento e contatos\nVocê atende pacientes, potenciais clientes e pessoas que buscam informações sobre os serviços da clínica.\n```\n\n## 3. **Responsabilidades e Tarefas**\n```\nSuas responsabilidades incluem:\n- Fornecer informações precisas sobre serviços, especialidades e procedimentos da Bela Saúde\n- Auxiliar no agendamento de consultas e exames\n- Esclarecer dúvidas sobre convênios, valores e formas de pagamento\n- Orientar sobre preparos para exames e procedimentos\n- Direcionar pacientes para os profissionais ou setores adequados\n- Utilizar a tool `rag_agent` para buscar informações atualizadas sempre que necessário\n```\n\n## 4. **Diretrizes de Comportamento**\n```\nAo interagir, você deve:\n- Ser acolhedor, empático e profissional\n- Manter um tom cordial e respeitoso, demonstrando cuidado genuíno\n- Priorizar a clareza e objetividade nas informações\n- Demonstrar sensibilidade ao tratar de questões de saúde\n- Respeitar a privacidade e confidencialidade do paciente\n- Ser proativo em antecipar necessidades e oferecer soluções\n```\n\n## 5. **Regras e Restrições**\n```\nVocê DEVE:\n- Sempre consultar a `rag_agent` antes de fornecer informações específicas sobre serviços, valores, horários ou profissionais\n- Basear suas respostas exclusivamente nas informações retornadas pela `rag_agent`\n- Admitir quando não tiver informações disponíveis e orientar o paciente sobre como obter a informação\n- Confirmar dados críticos como horários de consulta e preparos para exames\n\nVocê NÃO DEVE:\n- Fornecer diagnósticos médicos ou recomendações clínicas\n- Inventar ou presumir informações que não foram retornadas pela `rag_agent`\n- Compartilhar informações confidenciais de outros pacientes\n- Fazer promessas sobre resultados de tratamentos\n- Desqualificar outros profissionais ou instituições de saúde\n- Pressionar o cliente para agendar serviços\n```\n\n## 6. **Fluxo de Trabalho**\n```\nQuando receber uma solicitação, siga este fluxo:\n\n1. Analise a pergunta do usuário e identifique a informação necessária\n2. Invoque a tool `rag_agent` com uma query clara e específica\n3. Aguarde o retorno da `rag_agent` com as informações atualizadas\n4. Processe e organize as informações recebidas\n5. Formule uma resposta clara, completa e humanizada\n6. Se necessário, faça perguntas de esclarecimento para melhor atender o paciente\n7. Ofereça informações complementares relevantes quando apropriado\n```\n\n## 7. **Tratamento de Casos Especiais**\n```\nSe a pergunta for sobre sintomas ou condições médicas, explique que você não pode fornecer diagnósticos e sugira que o paciente agende uma consulta com um profissional especializado.\n\nSe a `rag_agent` não retornar informações suficientes, informe honestamente e ofereça alternativas como: contato telefônico direto, agendamento de retorno ou encaminhamento para o setor apropriado.\n\nEm caso de emergência médica mencionada pelo usuário, oriente imediatamente a procurar o pronto-socorro mais próximo ou ligar para 192 (SAMU).\n\nSe o paciente demonstrar insatisfação ou reclamação, acolha com empatia, peça desculpas pelo inconveniente e ofereça encaminhamento para a ouvidoria ou gerência.\n\nQuando houver múltiplas opções de especialidades ou profissionais, apresente as alternativas de forma organizada e ajude o paciente a escolher a mais adequada.\n```\n\n## 8. **Formato de Saída**\n```\nSempre formate suas respostas da seguinte forma:\n- Use linguagem natural, clara e acessível\n- Organize informações complexas em tópicos quando necessário\n- Para horários: use formato \"08h às 18h\" ou \"segunda a sexta-feira\"\n- Para valores: sempre inclua \"R$\" e contextualize (ex: \"consulta particular\")\n- Inclua informações de contato quando relevante (telefone, WhatsApp, e-mail)\n- Finalize com uma pergunta gentil oferecendo mais ajuda: \"Posso ajudar com mais alguma informação?\"\n```\n\n## 9. **Exemplos Práticos**\n\n**Exemplo 1:**\n```\nEntrada: \"Quais especialidades a clínica atende?\"\nProcesso: [Invocar rag_agent com query: \"especialidades médicas disponíveis\"]\nSaída: \"A Clínica Bela Saúde oferece diversas especialidades para cuidar da sua saúde:\n- Cardiologia\n- Dermatologia\n- Ortopedia\n- Ginecologia e Obstetrícia\n- Pediatria\n- Clínica Geral\n\nTodas com profissionais experientes e equipamentos modernos. Gostaria de saber mais sobre alguma especialidade específica ou agendar uma consulta?\"\n```\n\n**Exemplo 2:**\n```\nEntrada: \"Quanto custa uma consulta com dermatologista?\"\nProcesso: [Invocar rag_agent com query: \"valor consulta dermatologia\"]\nSaída: \"A consulta com nossos dermatologistas tem os seguintes valores:\n- Consulta particular: R$ 350,00\n- Atendemos também os convênios: Unimed, Bradesco Saúde e SulAmérica\n\nO retorno em até 30 dias tem 50% de desconto. Gostaria de verificar a disponibilidade de horários para agendamento?\"\n```\n\n**Exemplo 3:**\n```\nEntrada: \"Preciso fazer exame de sangue, como funciona?\"\nProcesso: [Invocar rag_agent com query: \"exames laboratório procedimento preparo\"]\nSaída: \"Para realizar exames de sangue na Bela Saúde, o processo é simples:\n\n1. Você pode agendar pelo telefone (XX) XXXX-XXXX ou WhatsApp\n2. Nosso laboratório funciona de segunda a sexta, das 7h às 11h, e sábados das 7h às 10h\n3. É necessário jejum de 8 a 12 horas para a maioria dos exames (confirmaremos no agendamento)\n4. Traga documento de identidade e pedido médico\n\nOs resultados ficam prontos em até 48 horas úteis. Gostaria de agendar seu exame?\"\n```\n\n## 10. **Instruções Finais**\n```\nLembre-se sempre de:\n- A `rag_agent` é sua fonte primária de informação - sempre consulte antes de responder\n- Saúde é um tema sensível - seja sempre empático e cuidadoso\n- Informações precisas salvam vidas - nunca invente dados\n- Cada paciente é único - personalize o atendimento sempre que possível\n\nSua prioridade máxima é garantir que o paciente receba informações corretas, sinta-se acolhido e tenha suas necessidades de saúde atendidas com excelência pela Clínica Bela Saúde.\n```\n\n---\n\n**Nota Técnica para Implementação:**\n```\nA tool `rag_agent` deve ser invocada com o seguinte formato:\n{\n  \"tool\": \"rag_agent\",\n  \"query\": \"[pergunta específica e clara]\",\n  \"context\": \"clinica_bela_saude\"\n}\n```"
        }
      },
      "id": "b3740476-5a47-489b-96ad-cbc316e31b0b",
      "name": "Supervisor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3648,
        560
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você é um especialista em OCR, descreva a imagem com precisão.",
        "inputType": "base64",
        "options": {
          "detail": "high"
        }
      },
      "id": "7c3a0143-aee0-4596-8918-c8866b285033",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2592,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Info2').item.json.mensagem_base64.replace('http://https', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        880
      ],
      "id": "bfde3ce7-61e2-466b-b27b-4d327b8b318d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.conversation.meta.sender.phone_number.replace('+', '').concat('@s.whatsapp.net') }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || $json.body.attachments?.[0]?.meta?.is_recorded_audio || $json.body.attachments[0].data_url.replace('http://https', '') }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "f9f64530-896d-4566-8e31-f67c4c077826",
              "name": "NomeWhatsapp",
              "value": "={{ $json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://aulaformacao-chatwoot.y5h8km.easypanel.host",
              "type": "string"
            },
            {
              "id": "4e384d2b-feaa-48a2-9459-41d61965fdbd",
              "name": "mensage_de_texto",
              "value": "={{ $json.body.content || \"null\" }}",
              "type": "string"
            },
            {
              "id": "3c49bdbd-af6d-452c-9be4-5d990123d45b",
              "name": "=mensagem_audio_ou_imagem",
              "value": "={{ $json.body.attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e2433843-a913-4495-81be-00b8f00996ff",
              "name": "mensagem_base64",
              "value": "={{ $json.body.attachments[0].data_url.replace(/^https?:\\/\\/https?/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        688
      ],
      "id": "d7d3913a-6ccb-4e5f-86f3-72bc81f6523e",
      "name": "Info2"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2112,
        880
      ],
      "id": "36b22a77-7c48-44cd-bb3b-20dd1cc4212c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $('Info2').item.json.mensagem_base64.replace('http://https', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        704
      ],
      "id": "e932a16f-cdca-414b-958b-460d04ae151a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2112,
        704
      ],
      "id": "20683ede-e31a-47f6-8f8a-745bf7094fee",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aulaformacao2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        544
      ],
      "id": "d3b54eae-f992-47be-a22f-cf6dbb6e12e1",
      "name": "Webhook",
      "webhookId": "9ef2fd98-9c39-45ee-9770-ed3b5a2f1677"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Info2').item.json.mensagem }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Pausada"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Info2').item.json.mensagem }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reativar IA"
            }
          ]
        },
        "options": {}
      },
      "id": "f65943de-5ba9-4888-b813-5ba11ee81781",
      "name": "Pausar IA1",
      "type": "n8n-nodes-base.switch",
      "position": [
        960,
        544
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=\n**OBJETIVO**\nDividir um texto longo em partes naturais, com escrita fluida, leve e humana — como se alguém tivesse escrito mensagem por mensagem.\n\n**SAÍDA (sempre neste formato):**\n\n```json\n{\n  \"messages\": [\n    \"mensagem 1\",\n    \"mensagem 2\",\n    \"mensagem 3\"\n  ]\n}\n```\n\n**REGRAS DE DIVISÃO**\n\n* Cada trecho entre **50 e 150 caracteres**, mas o JSON final deve ter trechos de **100 a 250 caracteres**.\n* Quebrar apenas onde um humano faria: ponto final, vírgula, parágrafo.\n* Frases devem soar naturais, completas.\n* Nada truncado, robótico ou mecânico.\n\n**REGRAS DE FORMATAÇÃO**\n\n* Nada de Markdown. Tire \\*\\*, \\_, \\~, ##, listas.\n* Links sempre entre crases: `https://exemplo.com`\n* Parágrafos simples e limpos.\n\n**SUBSTITUIÇÕES HUMANIZADAS**\n\n* `**texto**` ou `_texto_` → \"texto\", a não ser que mude o sentido\n* `~texto~` → manter só se indicar edição ou correção\n\n**EXIGÊNCIAS PARA SOAR HUMANO**\n\n* Frases com ritmo e tom natural\n* Palavras comuns, estilo de conversa\n* Evitar padrões repetitivos ou linguagem artificial\n* Pode usar contrações (ex: \"tá\", \"tô\", \"vai\", \"é\") se fizer sentido\n\n**CHECK FINAL**\n\n* JSON válido com chave `messages`\n* Cada item: 100 a 250 caracteres\n* Escrita fluida e humana\n* Sem cortes abruptos\n* Formatação limpa\n* Substituições feitas"
            }
          ]
        }
      },
      "id": "babfc581-72ef-4319-8cdc-e3a916e97b0c",
      "name": "Split de mensagens",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4160,
        960
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "c97321f0-9ee4-421d-86ca-43799f1ed7c6",
      "name": "OpenAI Split",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4160,
        1136
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}",
        "autoFix": true
      },
      "id": "d24bf8cf-d286-4a22-9270-a852ecb375e1",
      "name": "Modelo Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4352,
        1136
      ]
    },
    {
      "parameters": {},
      "id": "155fa02a-b676-4677-b22f-78dfd99261d5",
      "name": "5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5152,
        960
      ],
      "webhookId": "1e778858-209e-4956-a867-cc5f6bb6343e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info2').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info2').item.json.id_conta }}/conversations/{{ $('Info2').item.json.id_conversa }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "kn7jkTsXNP9qMLiYFAqtTGd3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Split de Mensagem').item.json.output }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"content_attributes\": { \"origin\": \"ai\", \"via\": \"n8n\" }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        960
      ],
      "id": "9a3bb9d8-4459-4a9d-83be-be0a9880e412",
      "name": "Enviar Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6da1922a-60b4-41dc-9266-ef2da435b6af",
              "name": "mensage_de_texto",
              "value": "={{ $('Info2').item.json.mensage_de_texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        544
      ],
      "id": "74108aac-5750-4d1f-9d34-4feb209c12e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "# Limpeza Banco de Dados",
        "height": 408,
        "width": 1400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        848
      ],
      "typeVersion": 1,
      "id": "88582033-01d0-4b39-a023-47e80376001d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.chats (\n  id bigserial not null,\n  created_at timestamp with time zone null,\n  phone text null,\n  updated_at text null,\n  etapa_followup numeric null,\n  constraint chats_pkey primary key (id)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        608
      ],
      "id": "291e2d41-fa11-4d58-8777-0f40e748d81c",
      "name": "chats",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "=Estruture as informações recebidas",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2288,
        1056
      ],
      "id": "e1a07937-d7b0-4929-948c-158b250370dd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2112,
        1056
      ],
      "id": "f63ba681-11ce-41af-8ab6-11cfc96d5b8d",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "url": "={{ $('Info2').item.json.mensagem_base64.replace('http://https', '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        1056
      ],
      "id": "ea9bf1b3-eb65-4fae-8f81-a7785428dae9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Info2').item.json.telefone }}",
        "messageData": "={{ $json.message.content }}",
        "tail": true
      },
      "id": "daf04834-2080-41c9-a322-8792196e580e",
      "name": "PDF Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2592,
        1056
      ],
      "credentials": {
        "redis": {
          "id": "geLe16zNay3dQHYl",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.telefone }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Info2').item.json.mensagem }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        944
      ],
      "id": "648684a5-c316-4330-ac01-ce94e5da2dc2",
      "name": "Salvar Historico Cliente",
      "credentials": {
        "postgres": {
          "id": "jxKcNtjZH8UtmJRv",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "774af9fe-50c0-4a32-99f5-e89c14c736b9",
              "leftValue": "={{ $('Webhook').item.json.body.sender.type }}",
              "rightValue": "agent_bot",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        560
      ],
      "id": "c0fc2863-7ed6-437e-b05e-da8ea3fc4433",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        704
      ],
      "id": "f253b91d-f0fd-4719-977a-b7f8d164edf6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# Cadastro CRM",
        "height": 796,
        "width": 564,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        464
      ],
      "typeVersion": 1,
      "id": "3818a802-fbc3-4aba-880e-d86ae20c76fe",
      "name": "Sticky Note27"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3984,
        768
      ],
      "id": "ba6f564d-859d-4b3d-8081-f2d4981379d5",
      "name": "calculadora"
    },
    {
      "parameters": {
        "content": "## ⚠️ LEIA ISSO ANTES DE COMEÇAR!\n\nParabéns! Você acaba de dar o primeiro passo para dominar a automação de verdade 🚀\n\nComo você assistiu à aula e baixou o material, isso mostra que você está comprometido(a) em **não ser só mais um usuário de IA**, mas sim em se tornar um **especialista**.\n\n**ATENÇÃO:**\n\nEste template é uma peça de engenharia **potente**, mas ele representa apenas **10% do que você realmente precisa**.\n\nTer o fluxo é como ter uma **Ferrari** e não saber dirigir.\n\n### Se você travar na configuração do **servidor**, na integração do **CRM** ou, principalmente, se não souber **como vender esse sistema por R$ 5.000 ou mais**, eu preparei algo para você.\n\n👉 **Conheça o meu método de ensino com 10% de desconto**  \nhttps://formacao.aprendausaria.com/\n\n**Cupom:** Desconto\n",
        "height": 448,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9b663484-08ca-4d58-a626-28039efcd29a",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Adiciona CHAT supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza CHAT Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Telefone": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CHAT supabase": {
      "main": [
        [
          {
            "node": "Cria Histórico Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza CHAT Supabase": {
      "main": [
        [
          {
            "node": "Cria Histórico Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Histórico Supabase": {
      "main": [
        [
          {
            "node": "Delete Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Converter Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA": {
      "main": [
        [
          {
            "node": "Salvar Historico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "ROTA Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historico Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "main": [
        [
          {
            "node": "Audio Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?": {
      "main": [
        [
          {
            "node": "ROTA Entrando ou Saindo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente": {
      "main": [
        [
          {
            "node": "ROTA Entrando ou Saindo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA Entrando ou Saindo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Audio": {
      "main": [
        [
          {
            "node": "OpenAI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Foto": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA Mensagens": {
      "main": [
        [
          {
            "node": "Texto Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thinking": {
      "ai_tool": [
        [
          {
            "node": "Supervisor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre Mensagens": {
      "main": [
        [
          {
            "node": "Buscas Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto Redis": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Redis": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagem Redis": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscas Mensagens": {
      "main": [
        [
          {
            "node": "Compara Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa1": {
      "main": [
        [
          {
            "node": "Deletar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Mensagens": {
      "main": [
        [
          {
            "node": "Supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Memoria": {
      "main": [
        [
          {
            "node": "Mensagem Completa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Converter Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Intervalo entre Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor": {
      "main": [
        [
          {
            "node": "Busca Telefone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "imagem Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info2": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Info2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA1": {
      "main": [
        [
          {
            "node": "Pausar IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reativar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de mensagens": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Split": {
      "ai_languageModel": [
        [
          {
            "node": "Split de mensagens",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Modelo Output",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Output": {
      "ai_outputParser": [
        [
          {
            "node": "Split de mensagens",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "5 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "PDF Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Redis": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pausar IA1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "Supervisor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "aulaformacao-n8n.y5h8km.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "2704",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "aulaformacao-n8n.y5h8km.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e63c119d855d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "Aprenda Usar IA"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Olá",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 6,
                "contact_id": 3,
                "inbox_id": 1,
                "source_id": "4900b6e1-9d49-47ee-a10f-c4f9a1e4f7aa",
                "created_at": "2025-10-27T17:06:40.551Z",
                "updated_at": "2025-10-27T17:06:40.551Z",
                "hmac_verified": false,
                "pubsub_token": "G941S8hPNtB6JZ1wyof5BEm8"
              },
              "id": 3,
              "inbox_id": 1,
              "messages": [
                {
                  "id": 4309,
                  "content": "Olá",
                  "account_id": 1,
                  "inbox_id": 1,
                  "conversation_id": 3,
                  "message_type": 1,
                  "created_at": 1762464318,
                  "updated_at": "2025-11-06T21:25:18.333Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:2A665A33F8B8CCDF5028",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "User",
                  "sender_id": 1,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Olá",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 9,
                    "last_activity_at": 1762464318,
                    "contact_inbox": {
                      "source_id": "4900b6e1-9d49-47ee-a10f-c4f9a1e4f7aa"
                    }
                  },
                  "sender": {
                    "id": 1,
                    "name": "Nathan",
                    "available_name": "Nathan",
                    "avatar_url": "",
                    "type": "user",
                    "availability_status": null,
                    "thumbnail": ""
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "avatar_url_hash": "dc013c3bfc67f6419e90ea3c19476aa609f838187317d0beed440ecc2421b13c",
                    "last_avatar_sync_at": "2025-10-27T17:06:40Z"
                  },
                  "custom_attributes": {},
                  "email": null,
                  "id": 3,
                  "identifier": "5527996425557@s.whatsapp.net",
                  "name": "Nathan",
                  "phone_number": "+5527996425557",
                  "thumbnail": "https://aulaformacao-chatwoot.y5h8km.easypanel.host/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2e9b6f1b44f8bd1ab0efb4166f4ec4558a74c5ca/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--62c62a8845fec5114f6f688ca4f70019f803bfd8/546349746_1519189956166611_6969756291949818640_n.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 9,
              "first_reply_created_at": "2025-10-27T17:06:49.928Z",
              "priority": null,
              "waiting_since": 0,
              "agent_last_seen_at": 1762130404,
              "contact_last_seen_at": 0,
              "last_activity_at": 1762464318,
              "timestamp": 1762464318,
              "created_at": 1761584800,
              "updated_at": 1762464318.3362088
            },
            "created_at": "2025-11-06T21:25:18.333Z",
            "id": 4309,
            "inbox": {
              "id": 1,
              "name": "aula_formacao"
            },
            "message_type": "outgoing",
            "private": false,
            "sender": {
              "id": 1,
              "name": "Nathan",
              "email": "nathan.lopes@aprendausaria.com",
              "type": "user"
            },
            "source_id": "WAID:2A665A33F8B8CCDF5028",
            "event": "message_created"
          },
          "webhookUrl": "https://aulaformacao-n8n.y5h8km.easypanel.host/webhook/aulaformacao",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "b2d281de-45d2-4181-933e-94dc868dca3b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T13:51:42.691Z",
      "createdAt": "2026-02-04T13:51:42.691Z",
      "role": "workflow:owner",
      "workflowId": "rAi67I74I50QWl6B",
      "projectId": "v0LdrnPHSqH3q9P1"
    }
  ],
  "activeVersion": null,
  "tags": []
}