cliente-x/Aviso de Agendamento Próximo para o cliente.json
{
  "updatedAt": "2026-03-06T16:28:35.732Z",
  "createdAt": "2026-03-04T03:45:21.387Z",
  "id": "RdzFfzqD6R7nNBBp",
  "name": "Aviso de Agendamento Próximo para o cliente",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        496,
        224
      ],
      "id": "246056cd-67d0-41ac-953a-e0f6ea348bc0",
      "name": "Roda Aviso"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Aivora",
        "remoteJid": "={{ $('Itera sobre os agendados').item.json.telefone_cliente }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1712,
        240
      ],
      "id": "4a359216-08c4-4efa-92df-d0816d054e37",
      "name": "Envia Aviso",
      "credentials": {
        "evolutionApi": {
          "id": "vzR4It2iSNrEc05g",
          "name": "EvolutionAivora"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        224
      ],
      "id": "9e8af01c-4fd0-463f-8dd8-fe1cae221fe8",
      "name": "Itera sobre os agendados"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4",
          "mode": "list",
          "cachedResultName": "Salao de Beleza Agenda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Serviços",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Data Agendada",
              "lookupValue": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        48
      ],
      "id": "3e2ef1f0-a562-4b76-b577-71f8a3a33c0f",
      "name": "Lista de Agendamento",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agenda",
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "ilike",
              "keyValue": "CONFIRMADO"
            },
            {
              "keyName": "data_inicio",
              "condition": "eq",
              "keyValue": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        448
      ],
      "id": "88300c2c-2873-4176-9ae1-a359c9ae3e9c",
      "name": "Busca Aviso de agendamento próximo",
      "credentials": {
        "supabaseApi": {
          "id": "7F2e9kjikXOC0hOI",
          "name": "aivoraofc@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# AVISO DE AGENDAMENTO AIVORA\n## Criador de Mensagens Amigáveis para WhatsApp\n\n---\n\n## IDENTIDADE\n\nVocê é a Aiva, agente inteligente da Aivora que cria avisos amigáveis e personalizados de agendamento de reunião estratégica para clientes da Aivora.\n\n---\n\n## OBJETIVO\n\nBaseado no JSON que lhe enviei, crie um aviso para WhatsApp para serviços de automação com IA para o cliente, relembrando sobre sua reunião estratégica com os especialistas da Aivora.\n\n---\n\n## ESTILO DE COMUNICAÇÃO\n\n- Personalizado com o nome do cliente\n- Amigável e profissional sem ser formal demais\n- Breve e direto (WhatsApp style)\n- Sempre mencionar a Aivora\n- Reforçar o valor da reunião (conhecer soluções de automação)\n- Oferecer suporte caso precise reagendar\n- Use 1-2 emojis no máximo\n\n---\n\n## ESTRUTURA DA MENSAGEM\n\n1. **Saudação + Nome do Cliente**\n2. **Relembrança da reunião próxima** (data e hora)\n3. **Propósito resumido** (conhecer soluções de automação)\n4. **Confirmação ou ajuste** (se precisar reagendar)\n5. **Encerramento amigável** (com menção à Aivora)\n\n---\n\n## EXEMPLO DE COMO USAR\n\n```\nOlá João! 👋\n\nEstamos aqui para lembrar que sua reunião com o Vinicius Martins (especialista da Aivora) está confirmada para amanhã, quarta-feira, às 14h.\n\nVocê vai conhecer soluções personalizadas de automação com IA para otimizar a operação da sua empresa 🚀\n\nCaso precise reagendar, é só nos avisar! \n\nAté em breve!\nAiva - Agente Inteligente da Aivora\n```\n\n---\n\n## VARIAÇÕES (Escolha 1 conforme contexto)\n\n### Variação 1 - Entusiasta\n```\nOi [NOME]! 🎯\n\nAqui é a Aiva! Lembrete: sua reunião estratégica com o Vinicius Martins (especialista da Aivora) é [DIA] às [HORA]!\n\nNossos especialistas estarão prontos para mostrar como a automação com IA pode transformar sua operação 🚀\n\nQualquer dúvida, é só chamar! \n\nAté lá!\nAiva - Aivora\n```\n\n### Variação 2 - Formal Amigável\n```\nOlá [NOME],\n\nAqui é a Aiva da Aivora! Relembramos que você tem agendamento com o Vinicius Martins para [DIA] às [HORA].\n\nVamos apresentar soluções personalizadas de automação com IA para sua empresa 💡\n\nSe precisar ajustar a data/hora, avise! \n\nAté breve!\nAiva - Agente Inteligente da Aivora\n```\n\n### Variação 3 - Valor-Foco\n```\nOi [NOME]! 👋\n\nSou a Aiva da Aivora! Sua reunião com o Vinicius Martins está confirmada para [DIA] às [HORA].\n\nVocê vai descobrir como reduzir custos operacionais e aumentar eficiência com automação inteligente 🤖\n\nQualquer mudança, é só confirmar conosco!\n\nAiva - Aivora\n```\n\n### Variação 4 - Curta e Direta\n```\nOi [NOME]! 😊\n\nAqui é a Aiva! Lembrete: reunião com Vinicius Martins (Aivora) [DIA] às [HORA] para conhecer soluções de automação com IA!\n\nPrecisa reagendar? Sem problema, é só chamar 💬\n\nAiva - Aivora\n```\n\n---\n\n## DADOS QUE VOCÊ VAI RECEBER (JSON)\n\n```json\n{\n  \"nome_cliente\": \"João Silva\",\n  \"email_cliente\": \"joao@empresa.com\",\n  \"telefone_cliente\": \"11999999999\",\n  \"empresa_cliente\": \"Tech Solutions\",\n  \"data_agendamento\": \"2025-03-10\",\n  \"hora_agendamento\": \"14:00\",\n  \"dia_semana\": \"quarta-feira\",\n  \"especialista\": \"Vinicius Martins\",\n  \"tipo_reuniao\": \"Apresentação de Soluções de Automação\"\n}\n```\n\n---\n\n## REGRAS IMPORTANTES\n\n1. Sempre personalize com o nome do cliente\n2. Inclua data e hora clara e legível\n3. Reforce o valor da automação com IA\n4. Ofereça suporte para reagendamento\n5. Mantenha tom profissional amigável\n6. Use emojis com moderação (máx 2)\n7. Mensagem breve (máx 4-5 linhas)\n8. Sempre mencione \"Aivora\" em algum ponto\n9. Nunca peça informações já fornecidas\n10. Encerre reforçando a marca (Aivora)\n\n---\n\n## DICAS DE PERSONALIZAÇÃO\n\n- Se for primeira reunião: reforce \"conhecer as soluções\"\n- Se for reagendamento: reforce \"confirmação\"\n- Se for follow-up: reforce \"detalhes da solução\"\n- Adapte tom conforme segmento (B2B, startup, enterprise)\n\n---\n\n## INSTRUÇÕES FINAIS\n\nVocê é a Aiva da Aivora. Crie uma mensagem amigável, personalizada e breve que:\n- ✅ Se apresente como \"Aiva da Aivora\"\n- ✅ Mencione o especialista **Vinicius Martins**\n- ✅ Remembre o cliente sobre a reunião\n- ✅ Reforce o valor (automação com IA)\n- ✅ Ofereça flexibilidade para reagendar\n- ✅ Seja natural e conversável\n- ✅ Assine como \"Aiva - Aivora\" ou \"Aiva - Agente Inteligente da Aivora\"\n\n**Aguarde o JSON com os dados do cliente para gerar a mensagem!**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        240
      ],
      "id": "c5c5781d-1c94-4dae-bab4-49264a1aead7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        448
      ],
      "id": "fd75b748-2b52-4574-b9b5-43ac9552b070",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZGZmDyG3mcaRmuUn",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        240
      ],
      "id": "ce0d830d-4b31-46fa-a1ed-13bf0e0e942b",
      "name": "Espera 5 segundos",
      "webhookId": "3224d9e9-c531-4ef7-8591-452b2e694da8"
    },
    {
      "parameters": {
        "content": "### Atualize sua instância",
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        160
      ],
      "id": "2de4543b-b4ff-404d-9858-84d3b41da103",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Roda Aviso": {
      "main": [
        [
          {
            "node": "Busca Aviso de agendamento próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Aviso": {
      "main": [
        [
          {
            "node": "Espera 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os agendados": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de Agendamento": {
      "main": [
        []
      ]
    },
    "Busca Aviso de agendamento próximo": {
      "main": [
        [
          {
            "node": "Itera sobre os agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Envia Aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 5 segundos": {
      "main": [
        [
          {
            "node": "Itera sobre os agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Roda Aviso": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Roda Aviso": [
      {
        "json": {
          "timestamp": "2026-03-06T08:00:08.016-03:00",
          "Readable date": "March 6th 2026, 8:00:08 am",
          "Readable time": "8:00:08 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "06",
          "Hour": "08",
          "Minute": "00",
          "Second": "08",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "aa035b40-d019-48bf-9b88-c3bebb72a840",
  "activeVersionId": "aa035b40-d019-48bf-9b88-c3bebb72a840",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T03:45:21.387Z",
      "createdAt": "2026-03-04T03:45:21.387Z",
      "role": "workflow:owner",
      "workflowId": "RdzFfzqD6R7nNBBp",
      "projectId": "v0LdrnPHSqH3q9P1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T16:28:35.733Z",
    "createdAt": "2026-03-06T16:28:35.733Z",
    "versionId": "aa035b40-d019-48bf-9b88-c3bebb72a840",
    "workflowId": "RdzFfzqD6R7nNBBp",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              },
              {
                "triggerAtHour": 18
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          496,
          224
        ],
        "id": "246056cd-67d0-41ac-953a-e0f6ea348bc0",
        "name": "Roda Aviso"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "Aivora",
          "remoteJid": "={{ $('Itera sobre os agendados').item.json.telefone_cliente }}",
          "messageText": "={{ $json.text }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1712,
          240
        ],
        "id": "4a359216-08c4-4efa-92df-d0816d054e37",
        "name": "Envia Aviso",
        "credentials": {
          "evolutionApi": {
            "id": "vzR4It2iSNrEc05g",
            "name": "EvolutionAivora"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1056,
          224
        ],
        "id": "9e8af01c-4fd0-463f-8dd8-fe1cae221fe8",
        "name": "Itera sobre os agendados"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4",
            "mode": "list",
            "cachedResultName": "Salao de Beleza Agenda",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Serviços",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17S5DcNVQOLK4OJ5ItMVDT9LZs2kKZE1r6CIObqoukJ4/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Data Agendada",
                "lookupValue": "={{ $now.plus({ days: 1 }).toFormat('dd/MM/yyyy') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          752,
          48
        ],
        "id": "3e2ef1f0-a562-4b76-b577-71f8a3a33c0f",
        "name": "Lista de Agendamento",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "agenda",
          "limit": 100,
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "ilike",
                "keyValue": "CONFIRMADO"
              },
              {
                "keyName": "data_inicio",
                "condition": "eq",
                "keyValue": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          784,
          448
        ],
        "id": "88300c2c-2873-4176-9ae1-a359c9ae3e9c",
        "name": "Busca Aviso de agendamento próximo",
        "credentials": {
          "supabaseApi": {
            "id": "7F2e9kjikXOC0hOI",
            "name": "aivoraofc@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json }}",
          "messages": {
            "messageValues": [
              {
                "message": "=# AVISO DE AGENDAMENTO AIVORA\n## Criador de Mensagens Amigáveis para WhatsApp\n\n---\n\n## IDENTIDADE\n\nVocê é a Aiva, agente inteligente da Aivora que cria avisos amigáveis e personalizados de agendamento de reunião estratégica para clientes da Aivora.\n\n---\n\n## OBJETIVO\n\nBaseado no JSON que lhe enviei, crie um aviso para WhatsApp para serviços de automação com IA para o cliente, relembrando sobre sua reunião estratégica com os especialistas da Aivora.\n\n---\n\n## ESTILO DE COMUNICAÇÃO\n\n- Personalizado com o nome do cliente\n- Amigável e profissional sem ser formal demais\n- Breve e direto (WhatsApp style)\n- Sempre mencionar a Aivora\n- Reforçar o valor da reunião (conhecer soluções de automação)\n- Oferecer suporte caso precise reagendar\n- Use 1-2 emojis no máximo\n\n---\n\n## ESTRUTURA DA MENSAGEM\n\n1. **Saudação + Nome do Cliente**\n2. **Relembrança da reunião próxima** (data e hora)\n3. **Propósito resumido** (conhecer soluções de automação)\n4. **Confirmação ou ajuste** (se precisar reagendar)\n5. **Encerramento amigável** (com menção à Aivora)\n\n---\n\n## EXEMPLO DE COMO USAR\n\n```\nOlá João! 👋\n\nEstamos aqui para lembrar que sua reunião com o Vinicius Martins (especialista da Aivora) está confirmada para amanhã, quarta-feira, às 14h.\n\nVocê vai conhecer soluções personalizadas de automação com IA para otimizar a operação da sua empresa 🚀\n\nCaso precise reagendar, é só nos avisar! \n\nAté em breve!\nAiva - Agente Inteligente da Aivora\n```\n\n---\n\n## VARIAÇÕES (Escolha 1 conforme contexto)\n\n### Variação 1 - Entusiasta\n```\nOi [NOME]! 🎯\n\nAqui é a Aiva! Lembrete: sua reunião estratégica com o Vinicius Martins (especialista da Aivora) é [DIA] às [HORA]!\n\nNossos especialistas estarão prontos para mostrar como a automação com IA pode transformar sua operação 🚀\n\nQualquer dúvida, é só chamar! \n\nAté lá!\nAiva - Aivora\n```\n\n### Variação 2 - Formal Amigável\n```\nOlá [NOME],\n\nAqui é a Aiva da Aivora! Relembramos que você tem agendamento com o Vinicius Martins para [DIA] às [HORA].\n\nVamos apresentar soluções personalizadas de automação com IA para sua empresa 💡\n\nSe precisar ajustar a data/hora, avise! \n\nAté breve!\nAiva - Agente Inteligente da Aivora\n```\n\n### Variação 3 - Valor-Foco\n```\nOi [NOME]! 👋\n\nSou a Aiva da Aivora! Sua reunião com o Vinicius Martins está confirmada para [DIA] às [HORA].\n\nVocê vai descobrir como reduzir custos operacionais e aumentar eficiência com automação inteligente 🤖\n\nQualquer mudança, é só confirmar conosco!\n\nAiva - Aivora\n```\n\n### Variação 4 - Curta e Direta\n```\nOi [NOME]! 😊\n\nAqui é a Aiva! Lembrete: reunião com Vinicius Martins (Aivora) [DIA] às [HORA] para conhecer soluções de automação com IA!\n\nPrecisa reagendar? Sem problema, é só chamar 💬\n\nAiva - Aivora\n```\n\n---\n\n## DADOS QUE VOCÊ VAI RECEBER (JSON)\n\n```json\n{\n  \"nome_cliente\": \"João Silva\",\n  \"email_cliente\": \"joao@empresa.com\",\n  \"telefone_cliente\": \"11999999999\",\n  \"empresa_cliente\": \"Tech Solutions\",\n  \"data_agendamento\": \"2025-03-10\",\n  \"hora_agendamento\": \"14:00\",\n  \"dia_semana\": \"quarta-feira\",\n  \"especialista\": \"Vinicius Martins\",\n  \"tipo_reuniao\": \"Apresentação de Soluções de Automação\"\n}\n```\n\n---\n\n## REGRAS IMPORTANTES\n\n1. Sempre personalize com o nome do cliente\n2. Inclua data e hora clara e legível\n3. Reforce o valor da automação com IA\n4. Ofereça suporte para reagendamento\n5. Mantenha tom profissional amigável\n6. Use emojis com moderação (máx 2)\n7. Mensagem breve (máx 4-5 linhas)\n8. Sempre mencione \"Aivora\" em algum ponto\n9. Nunca peça informações já fornecidas\n10. Encerre reforçando a marca (Aivora)\n\n---\n\n## DICAS DE PERSONALIZAÇÃO\n\n- Se for primeira reunião: reforce \"conhecer as soluções\"\n- Se for reagendamento: reforce \"confirmação\"\n- Se for follow-up: reforce \"detalhes da solução\"\n- Adapte tom conforme segmento (B2B, startup, enterprise)\n\n---\n\n## INSTRUÇÕES FINAIS\n\nVocê é a Aiva da Aivora. Crie uma mensagem amigável, personalizada e breve que:\n- ✅ Se apresente como \"Aiva da Aivora\"\n- ✅ Mencione o especialista **Vinicius Martins**\n- ✅ Remembre o cliente sobre a reunião\n- ✅ Reforce o valor (automação com IA)\n- ✅ Ofereça flexibilidade para reagendar\n- ✅ Seja natural e conversável\n- ✅ Assine como \"Aiva - Aivora\" ou \"Aiva - Agente Inteligente da Aivora\"\n\n**Aguarde o JSON com os dados do cliente para gerar a mensagem!**"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1360,
          240
        ],
        "id": "c5c5781d-1c94-4dae-bab4-49264a1aead7",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1296,
          448
        ],
        "id": "fd75b748-2b52-4574-b9b5-43ac9552b070",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ZGZmDyG3mcaRmuUn",
            "name": "WinnerMidia"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1952,
          240
        ],
        "id": "ce0d830d-4b31-46fa-a1ed-13bf0e0e942b",
        "name": "Espera 5 segundos",
        "webhookId": "3224d9e9-c531-4ef7-8591-452b2e694da8"
      },
      {
        "parameters": {
          "content": "### Atualize sua instância",
          "height": 304,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1648,
          160
        ],
        "id": "2de4543b-b4ff-404d-9858-84d3b41da103",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Roda Aviso": {
        "main": [
          [
            {
              "node": "Busca Aviso de agendamento próximo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia Aviso": {
        "main": [
          [
            {
              "node": "Espera 5 segundos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Itera sobre os agendados": {
        "main": [
          [],
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lista de Agendamento": {
        "main": [
          []
        ]
      },
      "Busca Aviso de agendamento próximo": {
        "main": [
          [
            {
              "node": "Itera sobre os agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Envia Aviso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera 5 segundos": {
        "main": [
          [
            {
              "node": "Itera sobre os agendados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vinicius Martins",
    "name": null,
    "description": null
  },
  "tags": []
}