cliente-x/envia_video.json
{
  "updatedAt": "2026-02-24T17:51:51.331Z",
  "createdAt": "2026-02-17T14:41:04.180Z",
  "id": "fWbtzGtyYoW7MKWj",
  "name": "envia_video",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome",
              "type": "any"
            },
            {
              "name": "telefone",
              "type": "any"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -112,
        352
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-video",
        "instanceName": "teste",
        "remoteJid": "={{ $json.telefone }}",
        "media": "https://umdgeveanxurezxccsff.supabase.co/storage/v1/object/public/videosr/videos/Totem43SR.mp4",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        720,
        144
      ],
      "id": "914443d7-cfd2-4031-977d-362f7f64c323",
      "name": "Enviar video",
      "credentials": {
        "evolutionApi": {
          "id": "4PLiTSokQyWQZw7C",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "output",
              "value": "Vídeo enviado com sucesso.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        352
      ],
      "id": "e1e79235-f17f-4c7a-91e6-0781249a0271",
      "name": "Retorno para o Agente"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "video_sr",
                    "rightValue": "envia_video_supermercado_sao_roque",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b7c2cc6-5442-49e3-b8f6-0746fd973ab9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video SR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d91f341-efe8-4f3d-bb62-645cf8e936f3",
                    "leftValue": "video_mk",
                    "rightValue": "envia_video_supermercado_mairinque",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video MK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "945993a9-21fa-49ee-b463-a47b225e8e7f",
                    "leftValue": "video_roteiro",
                    "rightValue": "envia_video_bar_estilla",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Roteiro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b59d7478-7b33-46a0-a57a-73d27ed1a80b",
                    "leftValue": "video_ibiuna",
                    "rightValue": "envia_video_academia_skyfit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Ibiuna"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "319beff9-e93d-4115-96f9-1ec5c4fb5cf2",
                    "leftValue": "video_vgp",
                    "rightValue": "envia_video_supermercado_central_park",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video SR VGP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b719555e-1762-4949-a6bf-41a533dbcbbf",
                    "leftValue": "video_granja",
                    "rightValue": "envia_video_salao_fast_escova",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Granja Viana"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        288
      ],
      "id": "fc6ce4db-d305-4479-8bf0-97ac64ec158d",
      "name": "Switch"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar video": {
      "main": [
        [
          {
            "node": "Retorno para o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar video",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "nome": "Vinicius Martins",
          "telefone": "5511972107522@s.whatsapp.net"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "66865d79-e3ae-4197-91c9-d490cc5b08dc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-17T14:41:04.180Z",
      "createdAt": "2026-02-17T14:41:04.180Z",
      "role": "workflow:owner",
      "workflowId": "fWbtzGtyYoW7MKWj",
      "projectId": "v0LdrnPHSqH3q9P1"
    }
  ],
  "activeVersion": null,
  "tags": []
}