cliente-x/Monitoramento Diurno Solplanet.json
{
  "updatedAt": "2026-03-08T16:47:03.991Z",
  "createdAt": "2026-03-08T16:15:23.651Z",
  "id": "sS1THhERwlnMgO9h",
  "name": "Monitoramento Diurno Solplanet",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7-18/2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        0
      ],
      "id": "7a3e9ddd-ed90-47d7-971b-82cd59dd9f8f",
      "name": "Schedule Trigger",
      "notesInFlow": false
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8cebc9e7-b1ee-45e9-bced-26f4541a9324",
      "name": "SplitInBatches Usuarios",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "limit": 1000
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "d296aa59-9d7e-44df-a1ae-82b3822a7086",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "UocZjWZfXsK0Ynmx",
          "name": "SupabaseAgenteSolar"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const body=$json.body;const headers=$json.headers||{};let acw='';const sc=headers['set-cookie']||[];for(const c of sc){if(c.includes('acw_tc=')){acw=c.split(';')[0].replace('acw_tc=','');break;}}return[{jwt:body.data.apitoken,token:body.data.token,acw_tc:acw}];"
      },
      "id": "58328706-d65f-4c02-a3ba-2f7c78ae8b0b",
      "name": "Extrair Tokens",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://internation-cloud.solplanet.net/api/user/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account",
              "value": "={{ $json.login }}"
            },
            {
              "name": "password",
              "value": "={{ $json.senha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "10ef78c0-1ef0-4c93-be60-a32c7496a1b2",
      "name": "Login Solplanet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://internation-cloud.solplanet.net/api/plant/plantList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "own",
              "value": "1"
            },
            {
              "name": "type",
              "value": "1"
            },
            {
              "name": "name"
            },
            {
              "name": "state"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=acw_tc={{$json.acw_tc}}; apitoken={{$json.jwt}}"
            },
            {
              "name": "token",
              "value": "={{$json.token}}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "referer",
              "value": "https://internation-cloud.solplanet.net/home/plantlist"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2db678fe-6c5d-45b7-9a54-d6fe78056594",
      "name": "Buscar Lista de Plantas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        -16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc8132e1-6ffb-42c0-8eab-5fc874a54edb",
              "leftValue": "={{ $json.result[0].status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "86cb2782-93c3-46c5-a91a-5bf93013fa28",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -16
      ],
      "id": "6e19d590-dd65-45dd-bfa7-2f08efd2f5c6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Aivora",
        "remoteJid": "5511972107522",
        "messageText": "=🚨 *ALERTA DE MONITORAMENTO* 🚨\n\nA usina do cliente *{{ $('SplitInBatches Usuarios').item.json.login }}* reportou uma anomalia de conexão.\n🏭 *Planta:* {{ $json.result[0].stationname }}\n⚠️ *Status Código:* {{ $json.result[0].status }}\n\nPossíveis causas:\n- Queda de energia no local\n- Inversor desconectado do Wi-Fi\n- Falha no equipamento\n\nVerifique o portal da Solplanet para mais detalhes.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1104,
        -112
      ],
      "id": "1c170367-9f30-48e8-92b6-e483c4eeeda2",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "vzR4It2iSNrEc05g",
          "name": "EvolutionAivora"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        128
      ],
      "id": "e0d4dbc2-ee3f-4a92-a50e-33f0c2107387",
      "name": "Wait",
      "webhookId": "7337cd83-65c3-415b-b618-108c35c7d571"
    }
  ],
  "connections": {
    "SplitInBatches Usuarios": {
      "main": [
        [
          {
            "node": "Login Solplanet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "SplitInBatches Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Solplanet": {
      "main": [
        [
          {
            "node": "Extrair Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Tokens": {
      "main": [
        [
          {
            "node": "Buscar Lista de Plantas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lista de Plantas": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "28b44465-4b9e-454f-801c-7b3334baafc0",
  "activeVersionId": "28b44465-4b9e-454f-801c-7b3334baafc0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-08T16:15:23.651Z",
      "createdAt": "2026-03-08T16:15:23.651Z",
      "role": "workflow:owner",
      "workflowId": "sS1THhERwlnMgO9h",
      "projectId": "v0LdrnPHSqH3q9P1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-08T16:47:03.992Z",
    "createdAt": "2026-03-08T16:47:03.992Z",
    "versionId": "28b44465-4b9e-454f-801c-7b3334baafc0",
    "workflowId": "sS1THhERwlnMgO9h",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 7-18/2 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -448,
          0
        ],
        "id": "7a3e9ddd-ed90-47d7-971b-82cd59dd9f8f",
        "name": "Schedule Trigger",
        "notesInFlow": false
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "8cebc9e7-b1ee-45e9-bced-26f4541a9324",
        "name": "SplitInBatches Usuarios",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 2,
        "position": [
          -32,
          0
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "usuarios",
          "limit": 1000
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -240,
          0
        ],
        "id": "d296aa59-9d7e-44df-a1ae-82b3822a7086",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "UocZjWZfXsK0Ynmx",
            "name": "SupabaseAgenteSolar"
          }
        }
      },
      {
        "parameters": {
          "functionCode": "const body=$json.body;const headers=$json.headers||{};let acw='';const sc=headers['set-cookie']||[];for(const c of sc){if(c.includes('acw_tc=')){acw=c.split(';')[0].replace('acw_tc=','');break;}}return[{jwt:body.data.apitoken,token:body.data.token,acw_tc:acw}];"
        },
        "id": "58328706-d65f-4c02-a3ba-2f7c78ae8b0b",
        "name": "Extrair Tokens",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          464,
          -16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://internation-cloud.solplanet.net/api/user/login",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "account",
                "value": "={{ $json.login }}"
              },
              {
                "name": "password",
                "value": "={{ $json.senha }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "10ef78c0-1ef0-4c93-be60-a32c7496a1b2",
        "name": "Login Solplanet",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          240,
          -16
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://internation-cloud.solplanet.net/api/plant/plantList",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "own",
                "value": "1"
              },
              {
                "name": "type",
                "value": "1"
              },
              {
                "name": "name"
              },
              {
                "name": "state"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Cookie",
                "value": "=acw_tc={{$json.acw_tc}}; apitoken={{$json.jwt}}"
              },
              {
                "name": "token",
                "value": "={{$json.token}}"
              },
              {
                "name": "locale",
                "value": "pt_BR"
              },
              {
                "name": "referer",
                "value": "https://internation-cloud.solplanet.net/home/plantlist"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "2db678fe-6c5d-45b7-9a54-d6fe78056594",
        "name": "Buscar Lista de Plantas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          688,
          -16
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "bc8132e1-6ffb-42c0-8eab-5fc874a54edb",
                "leftValue": "={{ $json.result[0].status }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "notEquals"
                }
              },
              {
                "id": "86cb2782-93c3-46c5-a91a-5bf93013fa28",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          -16
        ],
        "id": "6e19d590-dd65-45dd-bfa7-2f08efd2f5c6",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "Aivora",
          "remoteJid": "5511972107522",
          "messageText": "=🚨 *ALERTA DE MONITORAMENTO* 🚨\n\nA usina do cliente *{{ $('SplitInBatches Usuarios').item.json.login }}* reportou uma anomalia de conexão.\n🏭 *Planta:* {{ $json.result[0].stationname }}\n⚠️ *Status Código:* {{ $json.result[0].status }}\n\nPossíveis causas:\n- Queda de energia no local\n- Inversor desconectado do Wi-Fi\n- Falha no equipamento\n\nVerifique o portal da Solplanet para mais detalhes.",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1104,
          -112
        ],
        "id": "1c170367-9f30-48e8-92b6-e483c4eeeda2",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "vzR4It2iSNrEc05g",
            "name": "EvolutionAivora"
          }
        }
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1312,
          128
        ],
        "id": "e0d4dbc2-ee3f-4a92-a50e-33f0c2107387",
        "name": "Wait",
        "webhookId": "7337cd83-65c3-415b-b618-108c35c7d571"
      }
    ],
    "connections": {
      "SplitInBatches Usuarios": {
        "main": [
          [
            {
              "node": "Login Solplanet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "SplitInBatches Usuarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login Solplanet": {
        "main": [
          [
            {
              "node": "Extrair Tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Tokens": {
        "main": [
          [
            {
              "node": "Buscar Lista de Plantas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Lista de Plantas": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "SplitInBatches Usuarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vinicius Martins",
    "name": null,
    "description": null
  },
  "tags": []
}