cliente-x/Solplanet - Diario + Mensal (WhatsApp) v5.json
{
  "updatedAt": "2026-03-14T01:52:42.165Z",
  "createdAt": "2026-03-02T00:31:39.893Z",
  "id": "I2NBBzi236YP1odR",
  "name": "Solplanet - Diario + Mensal (WhatsApp) v5",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const energia = parseFloat($json.energia_kwh || 0);\nconst mes = parseFloat($json.mes_kwh || 0);\n\nconst incluiHoje =\n  $json.mes_inclui_hoje === true ||\n  $json.mes_inclui_hoje === 'true';\n\nconst mesFinal = incluiHoje ? mes : (mes + energia);\n\nreturn [{\n  ...$json,\n  mes_kwh: mesFinal.toFixed(2),\n  mes_kwh_api: mes.toFixed(2),\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -368
      ],
      "id": "b77f6972-6bd4-4c75-bf16-e3ac55861029",
      "name": "Ajustar Acumulado Mês"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2768,
        304
      ],
      "id": "28f6a436-e040-49ff-b192-47128974d6d8",
      "name": "Wait",
      "webhookId": "3045b09d-f0b3-4cdb-9011-7d31c44f55c1"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bd9dde70-10f7-42b3-97aa-8c5a7904b74b",
      "name": "SplitInBatches Usuarios",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1536,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "limit": 1000
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1760,
        -112
      ],
      "id": "1ce709c4-6ffe-496c-b7db-0e9bfccb65af",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "UocZjWZfXsK0Ynmx",
          "name": "SupabaseAgenteSolar"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('SplitInBatches Usuarios').item.json.login }}",
        "subject": "=Energia do dia Solplanet - {{ $now.format('dd-MM-yyyy') }}",
        "message": "=<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relatório Solar</title>\n</head>\n<body style=\"margin:0; padding:0; background:#f4f4f4; font-family:Arial, Helvetica, sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4; padding:20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff; border-radius:8px; overflow:hidden;\">\n          <tr>\n            <td style=\"background:#001FAA; padding:25px; text-align:center;\">\n              <h1 style=\"margin:0; color:#ffffff; font-size:24px;\">Relatório Solar</h1>\n              <p style=\"margin:8px 0 0; color:#dbe3ff; font-size:14px;\">Atualização automática diária • {{ $now.format('dd-MM-yyyy') }}</p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:30px; color:#333333; font-size:15px; line-height:1.6;\">\n              <p style=\"margin-top:0;\">Segue o resumo da sua geração fotovoltaica:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse; margin:18px 0;\">\n                <tr>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6; background:#fafafa; font-weight:bold;\">Geração do dia</td>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6;\">{{ $json.energia_kwh }} kWh</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6; background:#fafafa; font-weight:bold;\">Acumulado do mês</td>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6;\">{{ $json.mes_kwh }} kWh</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6; background:#fafafa; font-weight:bold;\">Planta</td>\n                  <td style=\"padding:12px; border:1px solid #e6e6e6;\">{{ $('Extrair Nome Planta').item.json.plant_name }}</td>\n                </tr>\n              </table>\n              <div style=\"margin:20px 0; text-align:center;\">\n                <img src=\"{{ $json.chartDataUrl }}\" alt=\"Gráfico acumulado do mês\" style=\"max-width:100%; width:520px; border-radius:8px; display:block; margin:0 auto;\" />\n              </div>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"background:#f0f0f0; padding:20px; text-align:center; font-size:12px; color:#777777;\">\n              Aivora<br>\n              Relatório automático Agente Solar<br><br>\n              Relatório automático de geração fotovoltaica. Obrigado por acompanhar sua produção de energia conosco.\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2528,
        -128
      ],
      "id": "1132c3cb-7a63-4ec6-a8dc-0d667acfa9de",
      "name": "Send a message",
      "webhookId": "9c29beb4-b735-4c75-bac2-2bebb11bf55a",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYDS5Ar7PcOAsAG7",
          "name": "WinnerMidia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = {\n  energia_kwh: String($json.energia_kwh || '0.00'),\n  mes_kwh: String($json.mes_kwh || '0.00'),\n  plant_name: String($json.plant_name || 'Planta'),\n  plant_id: $json.plant_id || null,\n  chartDataUrl: String($json.chartDataUrl || '')\n};\n\nreturn [data];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -128
      ],
      "id": "88f55241-7e44-4343-838b-86d7e0320e2c",
      "name": "Consolidar Todos Dados"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1936,
        -128
      ],
      "id": "af350a3d-e2f6-4adc-b122-5d408329a7b4",
      "name": "Merge Email + Anexo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9db134f6-1312-42d0-9b27-75a21036d5a1",
              "name": "chartDataUrl",
              "value": "={{ 'data:image/png;base64,' + $json.chartBase64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        288
      ],
      "id": "3343f312-0b19-4cc5-b2b4-17ae52f91ce3",
      "name": "chartDataUrl"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "chart",
        "destinationKey": "chartBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        288
      ],
      "id": "ae7d570a-df0f-49ee-8fcb-494cac8df06f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const d = $now;\nconst yyyy = d.toFormat('yyyy');\nconst mm = d.toFormat('LL');\n\nfor (const item of items) {\n  if (item.binary?.chart) {\n    item.binary.chart.fileName = `grafico-mensal-${yyyy}-${mm}.png`;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        288
      ],
      "id": "a93b6af4-22bb-4f2c-9394-479b0302a845",
      "name": "Nome do Arquivo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chart",
              "value": "={{ JSON.stringify($json.chart) }}"
            },
            {
              "name": "width",
              "value": "900"
            },
            {
              "name": "height",
              "value": "450"
            },
            {
              "name": "format",
              "value": "png"
            },
            {
              "name": "backgroundColor",
              "value": "white"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "chart"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        288
      ],
      "id": "09323443-df1d-4f6c-b820-c3278fd45cbb",
      "name": "QuickChart"
    },
    {
      "parameters": {
        "jsCode": "const labels = $json.result?.x || [];\nconst arr = $json.result?.data?.ac || [];\nconst values = arr.map(v => Number(v) || 0);\n\nlet energiaDia = 0;\ntry {\n  energiaDia = parseFloat($items('Calcular kWh Dia')[0]?.json?.energia_kwh || 0);\n} catch (e) {\n  energiaDia = 0;\n}\n\nconst hojeLabel = $now.toFormat('dd');\nconst idx = labels.findIndex(l => String(l).padStart(2, '0') === hojeLabel);\n\nif (idx >= 0 && energiaDia > 0) {\n  const atual = Number(values[idx]) || 0;\n  if (atual <= 0.001) {\n    values[idx] = energiaDia;\n  }\n}\n\nconst totalMes = values.reduce((acc, v) => acc + v, 0);\n\nreturn [{\n  chart: {\n    type: 'bar',\n    data: {\n      labels,\n      datasets: [{\n        label: `Acumulado do mês (kWh): ${totalMes.toFixed(2)}`,\n        data: values,\n      }],\n    },\n    options: {\n      plugins: {\n        title: {\n          display: true,\n          text: `Acumulado do mês (kWh): ${totalMes.toFixed(2)}`,\n        },\n        legend: { display: true },\n      },\n      scales: { y: { beginAtZero: true } },\n    },\n  },\n  totalMes: totalMes.toFixed(2),\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        288
      ],
      "id": "6f20390c-1c9b-466c-8753-1bf856e10339",
      "name": "Montar Chart Config Mes"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "be7101c3-1c70-4e4b-b106-576221f47802",
      "name": "Merge com Nome Planta",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1696,
        -144
      ]
    },
    {
      "parameters": {
        "functionCode": "const plantas = $json.result || [];\nconst p = plantas[0] || {};\n\nconst plantId = p.stationid ?? p.stationId ?? p.id ?? p.stationID;\nconst plantName = p.stationname ?? p.stationName ?? p.name ?? p.stationame;\n\nreturn [{\n  plant_name: plantName || 'Planta',\n  plant_id: plantId\n}];"
      },
      "id": "5e791ae3-4086-4367-9300-a2d06731656f",
      "name": "Extrair Nome Planta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        304,
        -160
      ]
    },
    {
      "parameters": {
        "url": "https://internation-cloud.solplanet.net/api/plant/plantList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "own",
              "value": "1"
            },
            {
              "name": "type",
              "value": "1"
            },
            {
              "name": "name"
            },
            {
              "name": "state",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=acw_tc={{$json.acw_tc}}; apitoken={{$json.jwt}}"
            },
            {
              "name": "token",
              "value": "={{$json.token}}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "referer",
              "value": "https://internation-cloud.solplanet.net/home/plantlist"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "83b44f8d-99f8-4654-8ba6-e94302366801",
      "name": "Buscar Lista de Plantas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -320
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "functionCode": "const body=$json.body;const headers=$json.headers||{};let acw='';const sc=headers['set-cookie']||[];for(const c of sc){if(c.includes('acw_tc=')){acw=c.split(';')[0].replace('acw_tc=','');break;}}return[{jwt:body.data.apitoken,token:body.data.token,acw_tc:acw}];"
      },
      "id": "a08fc779-ce70-40fb-bdc0-a801716a8d17",
      "name": "Extrair Tokens",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -768,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://internation-cloud.solplanet.net/api/user/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account",
              "value": "={{ $json.login }}"
            },
            {
              "name": "password",
              "value": "={{ $json.senha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "9301c779-130e-4c23-95f4-47d439d68ed6",
      "name": "Login Solplanet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1280,
        -128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "2d33cac8-f22a-458d-91d3-f4a680fef8fe",
      "name": "Merge Dia+Mes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1136,
        -368
      ]
    },
    {
      "parameters": {
        "functionCode": "const unit = String($json.result?.unit || '').toLowerCase();\nconst labels = $json.result?.x || [];\nconst arr = $json.result?.data?.ac || [];\n\nlet sum = 0;\nfor (const v of arr) sum += parseFloat(v) || 0;\n\nconst hojeLabel = String(new Date().getDate()).padStart(2, '0');\nconst idx = labels.findIndex(l => String(l).padStart(2, '0') === hojeLabel);\nlet hojeNoMes = idx >= 0 ? (parseFloat(arr[idx]) || 0) : 0;\n\nif (unit === 'kw' && labels.length > 40) {\n  sum = sum / 6;\n  hojeNoMes = hojeNoMes / 6;\n}\n\nreturn [{\n  mes_kwh: sum.toFixed(2),\n  mes_hoje_kwh: hojeNoMes.toFixed(2),\n  mes_inclui_hoje: hojeNoMes > 0,\n}];"
      },
      "id": "64b6421f-e5f7-4da5-a9da-3c45bdd03243",
      "name": "Calcular kWh Mes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        912,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://internation-cloud.solplanet.net/api/chart/production/international/month",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "plantId",
              "value": "={{$json.plant_id}}"
            },
            {
              "name": "date",
              "value": "={{$now.toFormat('yyyy-MM')}}"
            },
            {
              "name": "isno"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=acw_tc={{$node[\"Extrair Tokens\"].json.acw_tc}}; apitoken={{$node[\"Extrair Tokens\"].json.jwt}}"
            },
            {
              "name": "token",
              "value": "={{$node[\"Extrair Tokens\"].json.token}}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "referer",
              "value": "https://internation-cloud.solplanet.net/home/plant"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2a549cc6-fdff-4a03-ae9d-4ca40757a221",
      "name": "Buscar Producao Mes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        288
      ]
    },
    {
      "parameters": {
        "functionCode": "const values=($json.result?.data?.ac||[]).map(v=>parseFloat(v)||0);let soma=0;for(const v of values)soma+=v;const energia=soma/6;return[{energia_kwh:energia.toFixed(2)}];"
      },
      "id": "f64d8667-a935-4c9b-bf78-c90d01267d14",
      "name": "Calcular kWh Dia",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        896,
        -384
      ]
    },
    {
      "parameters": {
        "url": "https://internation-cloud.solplanet.net/api/chart/production/international/daily",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "plantId",
              "value": "={{$json.plant_id}}"
            },
            {
              "name": "date",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "name": "isno"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=acw_tc={{$node[\"Extrair Tokens\"].json.acw_tc}}; apitoken={{$node[\"Extrair Tokens\"].json.jwt}}"
            },
            {
              "name": "token",
              "value": "={{$node[\"Extrair Tokens\"].json.token}}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "referer",
              "value": "https://internation-cloud.solplanet.net/home/plant"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "f3c1f724-21c1-4868-ade3-0cb56b188fc6",
      "name": "Buscar Producao Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        -384
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "7459ba7b-7237-4f03-9b76-0c36fde7e360",
      "name": "Schedule 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        -112
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Aivora",
        "remoteJid": "={{ $('SplitInBatches Usuarios').item.json.telefone }}",
        "messageText": "=🌞 Relatório Solar\n📅 {{ $now.format('dd-MM-yyyy') }}\n\n⚡ Geração do dia: {{ $('Consolidar Todos Dados').item.json.energia_kwh }} kWh\n📊 Acumulado do mês: {{ $('Consolidar Todos Dados').item.json.mes_kwh }} kWh\n🏭 Planta: {{ $('Extrair Nome Planta').item.json.plant_name }}\n\n☀️ Energia limpa gerando resultados!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2768,
        -128
      ],
      "id": "e4863674-4a51-4215-9d79-e4e93fc4fe46",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "vzR4It2iSNrEc05g",
          "name": "EvolutionAivora"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af6ec9f7-529b-49e1-bb18-0626ce894f38",
              "leftValue": "={{ $json.body.data.apitoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        -128
      ],
      "id": "c5b04ee0-d726-441b-9214-51fe265620cc",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        192
      ],
      "id": "f9974b10-7e99-47ed-9828-9016f7a5c6a7",
      "name": "Wait1",
      "webhookId": "43463973-082e-4c75-8301-a13593171c41"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39026ca3-47d4-4c76-a746-a2493d403645",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -320
      ],
      "id": "88757311-ab08-4093-abc7-4b9ddd48f95e",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://internation-cloud.solplanet.net/api/user/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account",
              "value": "={{ $json.login }}"
            },
            {
              "name": "password",
              "value": "={{ $json.senha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b01e310a-9805-4237-b8d7-5c57dfae628d",
      "name": "Login Solplanet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -640,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://internation-cloud.solplanet.net/api/plant/plantList",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "own",
              "value": "1"
            },
            {
              "name": "type",
              "value": "1"
            },
            {
              "name": "name"
            },
            {
              "name": "state",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=acw_tc={{$json.acw_tc}}; apitoken={{$json.jwt}}"
            },
            {
              "name": "token",
              "value": "={{$json.token}}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            },
            {
              "name": "referer",
              "value": "https://internation-cloud.solplanet.net/home/plantlist"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3133b29e-3b79-4869-85c3-294658db81cf",
      "name": "Buscar Lista de Plantas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -240,
        -16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39026ca3-47d4-4c76-a746-a2493d403645",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        0
      ],
      "id": "02be0da6-cbf3-42f3-b236-da1bbbee4a1b",
      "name": "If2"
    },
    {
      "parameters": {
        "functionCode": "const body=$json.body;const headers=$json.headers||{};let acw='';const sc=headers['set-cookie']||[];for(const c of sc){if(c.includes('acw_tc=')){acw=c.split(';')[0].replace('acw_tc=','');break;}}return[{jwt:body.data.apitoken,token:body.data.token,acw_tc:acw}];"
      },
      "id": "80ba3507-2853-4ad0-afeb-06b3c203cc51",
      "name": "Extrair Tokens1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -448,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Aivora",
        "remoteJid": "=5511972107522",
        "messageText": "=⚠️ *Aviso de Erro - Relatório Solar* ⚠️\n\nA conexão com a API da Solplanet falhou nas duas tentativas para o seguinte cliente:\n👤 *Planta:* {{ $('Extrair Nome Planta').item.json.plant_name }}\n\nEle foi pulado na automação de hoje e não recebeu o relatório.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        272,
        192
      ],
      "id": "06b90078-2aae-4ff6-8fb1-3522eddaea13",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "vzR4It2iSNrEc05g",
          "name": "EvolutionAivora"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Ajustar Acumulado Mês": {
      "main": [
        [
          {
            "node": "Merge com Nome Planta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches Usuarios": {
      "main": [
        [
          {
            "node": "Login Solplanet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "SplitInBatches Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Todos Dados": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email + Anexo": {
      "main": [
        [
          {
            "node": "Consolidar Todos Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chartDataUrl": {
      "main": [
        [
          {
            "node": "Merge Email + Anexo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "chartDataUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome do Arquivo": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickChart": {
      "main": [
        [
          {
            "node": "Nome do Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Chart Config Mes": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge com Nome Planta": {
      "main": [
        [
          {
            "node": "Merge Email + Anexo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Nome Planta": {
      "main": [
        [
          {
            "node": "Buscar Producao Mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Producao Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lista de Plantas": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Tokens": {
      "main": [
        [
          {
            "node": "Buscar Lista de Plantas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Solplanet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Dia+Mes": {
      "main": [
        [
          {
            "node": "Ajustar Acumulado Mês",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular kWh Mes": {
      "main": [
        [
          {
            "node": "Merge Dia+Mes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Buscar Producao Mes": {
      "main": [
        [
          {
            "node": "Montar Chart Config Mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calcular kWh Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular kWh Dia": {
      "main": [
        [
          {
            "node": "Merge Dia+Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Producao Dia": {
      "main": [
        [
          {
            "node": "Calcular kWh Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 20h": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extrair Tokens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extrair Nome Planta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login Solplanet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Solplanet1": {
      "main": [
        [
          {
            "node": "Extrair Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lista de Plantas1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Extrair Nome Planta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Tokens1": {
      "main": [
        [
          {
            "node": "Buscar Lista de Plantas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule 20h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Schedule 20h": [
      {
        "json": {
          "timestamp": "2026-03-07T20:00:25.013-03:00",
          "Readable date": "March 7th 2026, 8:00:25 pm",
          "Readable time": "8:00:25 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "07",
          "Hour": "20",
          "Minute": "00",
          "Second": "25",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "11e6e850-1ede-43e7-81e6-cd85fe5adc40",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T00:31:39.893Z",
      "createdAt": "2026-03-02T00:31:39.893Z",
      "role": "workflow:owner",
      "workflowId": "I2NBBzi236YP1odR",
      "projectId": "v0LdrnPHSqH3q9P1"
    }
  ],
  "activeVersion": null,
  "tags": []
}